.creaturelistcontainer{
	display: block;
	width: 100%;
	.creaturelist{
		display: flex;
		justify-content: center;
		align-content: stretch;
		flex-wrap: wrap;
		.creaturecontainer{
			.creaturicon{
				img{
					max-height: 128px;
					max-width: 128px;
				}
			}
		}
	}
}