.creaturelistcontainer{
	display: block;
	width: 100%;
	.creaturelist{
		display: flex;
		justify-content: center;
		align-content: stretch;
		flex-wrap: wrap;
		.creaturecontainer{
			label{
				cursor: pointer;
			}
			.creaturicon{
				img{
					max-height: 128px;
					max-width: 128px;
				}
			}
		}
		.creatureinfocontainer{
			display: none;
			background-color: $infocolor;
			border-radius: 16px;
			padding: 16px;
			position: fixed;
			top: calc(50% - 130px);
			left: calc(50% - 82px);
			width: 164px;
			min-height: 260px;
			box-shadow: 4px 4px 2px rgb(0,0,0,0.5);
			.creatureicon{
				text-align: center;
				border-color: $backgroundcolor;
				border-radius: 8px;
				border-width: 2px;
				border-style: solid;
				background-color: $backgroundcolor;
				margin-bottom: 16px;
				span.creaturetitle{
					display: block;
					text-align: center;
					font-size: 16px;
					line-height: 24px;
					vertical-align: middle;
				}
			}
			ul.creatureinfo{
				margin: 0;
				padding: 0;
				list-style: none;
			}
			.closebutton{
				background-color: $bordercolor;
				display: block;
				position: absolute;
				border-radius: 16px;
				line-height: 33px;
				text-align: center;
				height: 32px;
				width: 32px;
				right: -8px;
				top: -8px;
				color: #ffffff;
				cursor: pointer;
			}
			.creaturefoundbutton{
				background-color: $bordercolor;
				display: block;
				margin: 8px 0;
				padding: 8px;
				border-radius: 4px;
				text-align: center;
				background-color: $infocolor;
				.yes, .no{
					display: none;
				}
			}
		}
		.creaturecheckbox:checked + .creatureinfocontainer{
			display: block;
		}
		.creaturefoundcheckbox:checked + .creaturefoundbutton{
			.yes{
				display: inline-block;
			}
		}
		.creaturefoundcheckbox:not(:checked) + .creaturefoundbutton{
			.no{
				display: inline-block;
			}
		}
	}
	input.creaturecheckbox, input.creaturefoundcheckbox{
		display: none;
	}
}